@media print {

    @page {
        size: A4;
    }

    header {
        height:60px;
    }

    body {
        overflow-y: visible !important;
        width:auto !important;
        font-size:1.5em !important;
        line-height:25px !important;
    }

    .hidden-print {
        display:none !important;
    }

    section {
        page-break-inside: avoid;
    }

    row {
        margin:0 !important;
    }

    h1 {
        margin: 0 !important;
    }

    .car-page-title-row {
        margin-top:0;
    }

    .car-page-list-slide {
        width:200px;
        height:200px;
    }

    .price-tag {
        font-size:35px;
    }
}

@media print and (orientation:landscape) {

    p {
        font-size:15px;
    }

    .index-car-block {
        h5 {
            font-size:16px;
        }
        height:300px;
    }

    .index-desc-container {
        font-size:14px;
    }

    .car-full-desc {
        p {
            font-size:22px;
        }
    }

    .carousel slide, .car-carousel-img {
        width:450px;
        height:250px;
    }
} 
