.banner-image {
    width:100%;
}

.car-list-photo {
    width:100%;
    height:100%;
}

.indexLogos {
    width:20px;
    height:20px;
}

.block-image img {
    width:100%;
}

.car-carousel-img {
    width:100%;
    margin-top:$img-margin;
    margin-bottom:$img-margin;
}

.car-page-list-slide {
    width:145px;
    height:145px;
    margin:3px;
}

.full-page-img {
    width:100%;
    margin-bottom:$img-margin;
    margin-top:$img-margin;
}

.edit-form-thumbnail {
    width:60px;
    height:60px;
}
